@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin scrollBar {
    &::-webkit-scrollbar-track-piece {
        background: #d3dce6;
    }
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background: #99a9bf;
        border-radius: 20px;
    }
}

@mixin relative {
    position: relative;
    width: 100%;
    height: 100%;
}

@mixin triangle($width, $height, $color, $direction) {
    $width: $width/2;
    $color-border-style: $height solid $color;
    $transparent-border-style: $width solid transparent;
    height: 0;
    width: 0;
    @if $direction==up {
        border-bottom: $color-border-style;
        border-left: $transparent-border-style;
        border-right: $transparent-border-style;
    } @else if $direction==right {
        border-left: $color-border-style;
        border-top: $transparent-border-style;
        border-bottom: $transparent-border-style;
    } @else if $direction==down {
        border-top: $color-border-style;
        border-left: $transparent-border-style;
        border-right: $transparent-border-style;
    } @else if $direction==left {
        border-right: $color-border-style;
        border-top: $transparent-border-style;
        border-bottom: $transparent-border-style;
    }
}

@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin bg($num) {
    background-image: url("/images/icons/login_bg_" + $num + ".png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    font-weight: $semibold;
    background-position: center;

    @if $num == "one" {
        background-size: 372px 206px;
        background-position-y: 110px;
    } @else {
        background-size: 780px 580px;
    }
}

@mixin colorBtn($color, $textColor) {
    background: $color;
    border-radius: 4px;
    border: 1px solid $lighter-gray;
    height: 48px;
    color: $textColor;
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
    &:hover {
        color: $textColor;
        background: rgba($color: $color, $alpha: 1);
    }
}
