$light-blue: #3a71a8;
$pink: #e65d6e;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;
$menuBg: #304156;
$subMenu: rgb(23, 26, 31) d3d;
$menuHover: #001528;
$sub-color: #999;
$main-color: #373d42;
$link-color: rgb(64, 158, 255);
$white: #fff;
$white-gray: #fbfbfb;
$white-grayer: #f8f8f8;
$lighter-gray: #e3e3e3;
$light-gray: #d3d3d3;
$gray: #9d9d9d;
$deep-gray: #9d9d9d;
$line-gray: #ededed;
$black: #282828;
$red: #f84263;
$green: #02ba3d;
$blue: #0076ff;
$second-text-color: #646464;
$semibold: 500;
$medium: 450;
$regular: 350;
